{% load compress %}
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-ui-1.9.1.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap-2.2.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/json2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/csrf.js"></script>
<script type="text/coffeescript" src="{{ STATIC_URL }}js/common/hacks.coffee"></script>
<script type="text/coffeescript" src="{{ STATIC_URL }}js/common/modals.coffee"></script>
<script type="text/coffeescript" src="{{ STATIC_URL }}js/common/scroll.coffee"></script>
<script type="text/coffeescript" src="{{ STATIC_URL }}js/common/ui_events.coffee"></script>
{% endcompress %}
